@import './css/base.css';
@import './css/vars.css';

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  max-width: 1472px;
}

@media screen and (max-width: 375px) {
 
}
